* {
    /*Definir que el tamaño del bloque incluya padding, margenes y bordes*/
    box-sizing: border-box;
    /*Darle una tipografia a la pagina*/
    font-family: 'Poppins', sans-serif;
    /*Sin margenes*/
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-------------HEADER-------------*/
header {
    /*hacer que la barra de navegacion se mantenga fija en toda la pag*/
    position: fixed;
    /*Definir el color con su transparencia y ancho de 100% para que ocupe toda la pag*/
    background-color: rgba(16, 208, 201, 0.6);
    width: 100%;
    z-index: 1;
}

/* MATERILIZE */
header h1 {
    font-size: 37px;
}

/* MATERILIZE */
.header-container nav {
    background: none;
    box-shadow: none;    
    height: 55px;
}

.header-container {
    margin: auto;
    max-width: 1700px;
    padding: 1rem 0.3rem 0rem;
}

header a {
    /*Color letra
    Quitarle el subrayado del link
    Padding derecho e izquierdo*/
    color: beige;
    text-decoration: none;
    padding: 0rem 1.8rem;
}

nav {
    float: right;
    margin: 0 9px;
}

.header-container li {
    /*Elementos listas del header tipo inline para que uno quede al lado del otro
    Quitarle los puntos de la lista*/
    display: inline;
    list-style: none;
    margin: auto 5px;
    height: 55px;
}

h1 {
    display: inline;
}

body {
    background-color: aliceblue;
}

/*-------------PRESENTATION-------------*/
.presentation {
    height: 720px;
    font-size: 18px;
}

.Video-Programming {
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Video-Programming video {
    /*Que el objeto ocupe el maximo posible del bloque que lo contiene sin modificar proporciones de ancho y alto
    va a recortar lo que no quepa*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.presentation-text {
    color: white;
    text-align: center;
    padding: 240px 150px;
    margin: auto;
}

.presentation-text h2 {
    font-size: 35px;
}

.presentation-text p {
    margin: 10px auto;
    width: 70%;
}

.presentation-text a {
    color: lightgreen;
    margin: 0 10px;
}

.presentation-text svg {
    width: 40px;
    color: aqua;
}

/*-------------HABILIDADES O SKILLS-------------*/

#particles-js {
    width: 100%;
    height: 650px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.skills {
    height: 650px;
    font-size: 18px;
    background: url("./Recursos/Imagenes/Fondo\ suave.jpg");
    background-position: center;
    background-size: cover;
    z-index: -3;
    /* position: relative; */
}

.skills-text {
    width: 50%;
    height: 50%;
}

.skills-content {
    text-align: justify;
    padding: 130px 30px;
}

.skills-title {
    text-align: center;
    margin: 2rem;
    font-size: 35px;
}

.skills-centrar {
    margin: auto;
}

.carousel-item h3 {
    font-size: 34px;
    text-align: center;
    text-shadow: 1px 1px 1px white, 1px 1px 5px white;

}

.linea-division {
    width: 60%;
    height: 2px;
    background-color: #4f4f4f;
    margin: 0;
}

.carousel-item p {
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 2px white, 1px 1px 10px white;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

/* >>>>> ESTILOS MATERIALIZE <<<<< */

.carousel {
    min-height: 500px;
}

.skills .carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: gray; */
    width: 650px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.skills .carousel .indicators .indicator-item {
    /* border-radius: 0; */
    transform: rotate(45deg);
    margin: 10px 10px;
    background: darkorchid;
}

#skills-img1 {
    background: url(./Recursos/Imagenes/Brazo\ robot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills-img2 {
    background: url(./Recursos/Imagenes/Robot\ niño.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------WORK EXPERIENCE-------------*/

.workExperience {
    clear: both;
    font-size: 20px;
    text-align: center;
    background: url(./Recursos/Imagenes/Paisaje+Yoga.jpg);
    background-position: center;
    background-size: cover;
}

.workEx-inner {
    padding: 3rem;
    color: white;
}

.workEx-title {
    margin: 0 3rem 2rem;
    font-size: 38px;
}

.workExperience table ul li {
    padding: 4px 0;
    list-style-type: circle;
    position: relative;
    left: 18px;
}

.workExperience table td {
    padding: 25px 10px;
    /* font-size: 18px; */
}

.Logo_td {
    width: 10%;
    text-align: right;
}

.Nombre_td {
    width: 40%;
    text-align: left;
    font-size: 18px;
}

.Descripcion_td {
    width: 50%;
    text-align: left;
    font-size: 16px;
}

#Logos {
    height: 80px;
    border-radius: 10px;
}

/*------------- HABILIDADES DE PROGRAMACION -------------*/

.light-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.Niveles {
    background: url(./Recursos/Imagenes/Montañas.jpg);
    background-position: center;
    background-size: cover;
}

.Niveles h2 {
   margin: 0;
   padding: 2rem 0;
   text-align: center;
   font-size: 38px;
   /* color: white; */
}

.Niveles .niveles-tabla {
    border-color: white;
}

.Niveles .niveles-tabla th {
    text-align: center;
}

.Niveles .niveles-tabla img {
    width: 80%;
    opacity: 0;
    transform: scale(0.8);
    transition: 1s ease-in-out all;
}

.Niveles .niveles-tabla img.izquierda {
    transform: translate(-40px);
}

.Niveles .niveles-tabla img.derecha {
    transform: translate(40px);
}

.Niveles .niveles-tabla img.abajo {
    transform: translateY(50px);
}

.Niveles .niveles-tabla img.visible {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
}

/*------------- REFERENCIAS PERSONALES -------------*/

.References {
    width: 95%;
    height: 300px;
    margin: auto;
}

.References h2 {
    font-size: 38px;
    text-align: center;
}

.References h3 {
    font-size: 30px;
    margin: 0px 0px 15px;
    text-align: center;
}

.References .Post {
    transition: box-shadow 0.3s ease;
    background-color: bisque;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    float: inline-start;
    width: 30%;
    height: 200px;
}

.References .Post:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30%);
}

.References .Post .Logos-referencias {
    height: 35%;
    border-radius: 10px;
    display: block;
    margin: 0 auto 15px;
}

.References .Post svg {
    height: 15px;
    display: inline-block;
    margin: 0 10px;    
}

.References .Post p {
    text-align: center;
    display: inline-block;

}

/*------------- FORMULARIO -------------*/

.Contact {
    height: 560px;
    text-align: center;
}

.Contact h2 {
    font-size: 38px;
    text-align: center;
    margin: 2rem 0 3rem;
}

.form-center {
    display: block;
}

.form-left {
    text-align: center;
    width: 50%;
    height: 240px;
    float: left;
}

.form-right {
    width: 50%;
    height: 240px;
    float: right;
}

.Contact label {
    display: block;
    margin: 0 0 1rem;
    font-size: 18px;
    color: steelblue;
}

.Contact form input[type="text"] { /* , input[type="time"], input[type="date"], input[type="email"], input[type="number"] */
    width: 16rem;
    height: 2rem;
}

.Contact form input[type="time"] {
    width: 6rem;
    height: 2rem;
}

.Contact form input[type="date"] {
    width: 8rem;
    height: 2rem;
}

.Contact form input[type="email"] {
    width: 15rem;
    height: 2rem;
}

.Contact form input[type="number"] {
    width: 4rem;
    height: 2rem;
}

.Contact form textarea {
    margin: 0.5rem;
    width: 60%;
    height: 80px;
}

.Contact form input[type="submit"] {
    font-size: 16px;
    /* margin: 1.5rem; */
    height: 3rem;
    width: 12rem;
    display: block;
    margin: auto;
    background-color: rgba(76, 76, 164, 0.3);
    cursor: pointer;
}

.Contact form input[type="submit"]:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out all;
}

button[type="button"] {
    font-size: 12px;
    margin: 1rem;
    height: 1rem;
    width: 15rem;
}

.Contact form label {
    padding: 0;
}

/*-------------FOOTER-------------*/

footer {
    color: white;
    background-color: darkblue;
    text-align: left;
    height: 5rem;
    padding: 1rem;
}

footer p {
    display: inline-block;
}

footer a {
    color: aquamarine;
}