* {
    /*Definir que el tamaño del bloque incluya padding, margenes y bordes*/
    box-sizing: border-box;
    /*Darle una tipografia a la pagina*/
    font-family: 'Poppins', sans-serif;
    /*Sin margenes*/
    margin: 0;
    /* el font-size por defecto es de 16px */
    /* El REM toma el font-size de la fuente y lo usa como unidad de medida
    Mientras que el EM toma el font-size mas cercano y lo usa como unidad de medida*/
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-------------HEADER-------------*/
header {
    /*hacer que la barra de navegacion se mantenga fija en toda la pag*/
    position: fixed;
    /*Definir el color con su transparencia y ancho de 100% para que ocupe toda la pag*/
    background-color: rgba(16, 208, 201, 0.8);
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-container {
    margin: auto;
    max-width: 106.25em; /*1700px;*/
    padding: 0.3em 0.3em 0em;
}

/* MATERILIZE */
.header-container h1 {
    height: 3.13rem; /*50px*/
    display: inline;
}

.header-container img {
    height: 3.75em; /* 60px */
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px; 
}

.header-container h1 a {
    font-size: 2.25rem;/* 36px */
    text-align: left;
    color: beige;
    text-decoration: none;
    margin-left: 15px; /* 15px */
    padding-top: 0;
}

.header-container svg {
    height: 1.75em;/* 28px */
    margin: 1.38em;/* 22px */
    display: none;
}

/* ---------------- BARRA DE NAVEGACION ---------------- */
header .menu {
    background: none;
    box-shadow: none;    
    height: 2.19em;/* 35px */

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
}

header .menu ul {
    margin: auto 0;
    height: 1.88em;/* 30px */
}

header .menu li {
    /*Elementos listas del header tipo inline para que uno quede al lado del otro
    Quitarle los puntos de la lista*/
    /* display: flex;
    vertical-align: top; */
    list-style: none;
    margin: auto 0.31em;/* 5px */
    height: 1.88em;/* 30px */
}

header .menu a {
    /*Color letra
    Quitarle el subrayado del link
    Padding derecho e izquierdo*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;

    color: beige;
    text-decoration: none;
    padding: 0rem 1em;
    height: 1.88em;/* 30px */
    /* font-size: 1rem; */
    /* vertical-align: top; */
}

header .menu a svg {
    height: 18px;
    margin-right: 5px;
}

header .btn-menu {
    cursor: pointer;
}

body {
    background-color: aliceblue;
}

/* ---------------- EFECTOS DE LA BARRA DE NAVEGACION - MOSTRAR Y OCULTAR ---------------- */

.headroom {
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-350%); /* -70% para mostrar solo los links*/

}

/*------------- MEDIAQUERIES -------------*/

@media screen and (max-width: 1000px) {
    header .menu {
        flex-direction: column;
        background: none;
    }

    header .header-container svg{
        display: inline-block;
    }

    /* Con esto los enlaces aparecen en fila */
    /* header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    } */

    /* Con esto los enlaces aparecen uno debajo del otro */
    header .menu .enlaces li {
        display: block;
        float: none;
        background-color: rgba(9, 185, 180, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 24px;
        padding-top: 0.6rem;        
    }    

}

/*-------------PRESENTATION-------------*/
.presentation {
    height: 720px;/* 720px */
    font-size: 1.125rem;/* 18px */
}

.Video-Programming {
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Video-Programming video {
    /*Que el objeto ocupe el maximo posible del bloque que lo contiene sin modificar proporciones de ancho y alto
    va a recortar lo que no quepa*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.presentation-text {
    color: white;
    text-align: center;
    padding: 13.13rem 3.125em;/* 210px 50px->(antes 150px)*/
    margin: auto;
}

.presentation-text h2 {
    font-size: 2.19em;/* 35px */
    /* margin: 0; */
}

.presentation-text p {
    margin: 0.625rem auto;/* 10px */
    /* width: 70%; */
}

.presentation-text a {
    color: lightgreen;
    margin: 0 10px;
}

.presentation-text svg, img {
    height: 2.81rem;/* 45px */
    user-select: none;
    /* color: aqua; */
}

/*-------------PROYECTOS DESARROLLADOS (skills)-------------*/

#particles-js {
    width: 100%;
    height: 650px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.skills {
    height: 40.625rem;/* 650px */
    font-size: 1.125rem;/* 18px */
    background: url("./Recursos/Imagenes/Fondo\ suave.jpg");
    background-position: center;
    background-size: cover;
    z-index: -3;
    /* position: relative; */
}

/* .skills-text {
    width: 50%;
    height: 50%;
}

.skills-content {
    text-align: justify;
    padding: 8.125rem 1.875rem;
} */

.skills-title {
    text-align: center;
    margin: 2rem;
    font-size: 2.19rem;/* 35px */
}

/* .skills-centrar {
    margin: auto;
} */

.carousel-item h3 {
    font-size: 2.125rem;/* 34px */
    text-align: center;
    text-shadow: 1px 1px 1px white, 1px 1px 5px white;

}

.linea-division {
    width: 60%;
    height: 2px;
    background-color: #4f4f4f;
    margin: 0;
}

.carousel-item p {
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 2px white, 1px 1px 10px white;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

/* >>>>> ESTILOS MATERIALIZE <<<<< */

.carousel {
    min-height: 31.25rem;/* 500px */
    /*min-height: 12.5rem;/* 200px */

}

.skills .carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: gray; */
    width: 650px;/* 650px */
    height: 500px;/* 500px */
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.skills .carousel .indicators .indicator-item {
    /* border-radius: 0; */
    /* transform: rotate(45deg); */
    margin: 0.625rem 0.625rem; /* 10px 10px */
    background: darkorchid;
}

/* #skills-img1 {
    background: url(./Recursos/Imagenes/Brazo\ robot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills-img2 {
    background: url(./Recursos/Imagenes/Robot\ niño.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/*-------------WORK EXPERIENCE-------------*/

.workExperience {
    clear: both;
    font-size: 1.25rem;/* 20px */
    text-align: center;
    background: url(./Recursos/Imagenes/Paisaje+Yoga.jpg);
    background-position: center;
    background-size: cover;
}

.workEx-inner {
    padding: 3em;
    color: white;
}

.workEx-title {
    margin: 0 3rem 2rem;
    font-size: 2.375rem;/* 38px */
}

.workExperience table ul li {
    padding: 0.25rem 0;/* 4px 0 */
    list-style-type: circle;
    position: relative;
    left: 1.125rem;/* 18px */
}

.workExperience table td {
    padding: 1.56rem 0.63rem;/* 25px 10px */
    /* font-size: 18px; */
}

.Logo_td {
    width: 10%;
    text-align: right;
}

.Nombre_td {
    width: 40%;
    text-align: left;
    font-size: 1.125rem;/* 18px */
}

.Descripcion_td {
    width: 50%;
    text-align: left;
    font-size: 1rem; /* 16px */
}

#Logos {
    height: 5rem;/* 80px */
    border-radius: 10px;
}

/*------------- HABILIDADES DE PROGRAMACION -------------*/

.light-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.Niveles {
    background: url(./Recursos/Imagenes/Montañas.jpg);
    background-position: center;
    background-size: cover;
}

.Niveles h2 {
   margin: 0;
   padding: 2rem 0;
   text-align: center;
   font-size: 2.37rem;/* 38px */
   /* color: white; */
}

.Niveles .niveles-tabla {
    border-color: white;
}

.Niveles .niveles-tabla th {
    text-align: center;
    padding: 0.5rem 0;
}

.Niveles .niveles-tabla td img {
    /* width: 80%; */
    /* height: 5.9375rem;/* 95px */
    width: 60%;
    height: 6.25rem;/* 100px */
    opacity: 0;
    transform: scale(0.8);
    transition: 1s ease-in-out all;
}

.Niveles .niveles-tabla img.izquierda {
    transform: translate(-20px);
}

.Niveles .niveles-tabla img.derecha {
    transform: translate(20px);
}

.Niveles .niveles-tabla img.abajo {
    transform: translateY(50px);
}

.Niveles .niveles-tabla img.visible {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
}

/*------------- REFERENCIAS PERSONALES -------------*/

.References {
    width: 95%;
    height: 18.75rem;/* 300px */
    margin: auto;
}

.References h2 {
    font-size: 2.375rem;/* 38px */
    text-align: center;
}

.References h3 {
    font-size: 1.875rem;/* 30px */
    margin: 0px 0px 0.94rem;/* 0 0 15px */
    text-align: center;
}

.References .Post {
    transition: box-shadow 0.3s ease;
    background-color: bisque;
    margin: 1rem;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    float: inline-start;
    width: 30%;
    height: 12.5rem;/* 200px */
}

.References .Post:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30%);
}

.References .Post .Logos-referencias {
    height: 35%;
    /* width: 20%; */
    border-radius: 10px;
    display: block;
    margin: 0 auto 0.94rem;/* 15px */
}

.References .Post svg {
    /* height: 15px; */
    width: 0.94rem;/* 15px */
    display: inline-block;
    margin: 0 0.625rem;/* 10px */  
}

.References .Post p {
    text-align: center;
    display: inline-block;

}

.References .References-Cards .Card1 {
    grid-area: Card1;
}

.References .References-Cards .Card2 {
    grid-area: Card2;
}

.References .References-Cards .Card3 {
    grid-area: Card3;
}

/*------------- FORMULARIO -------------*/

.Contact {
    height: 39rem;/* 560px */
    text-align: center;
}

.Contact h2 {
    font-size: 2.375rem;/* 38px */
    text-align: center;
    margin: 2rem 0 3rem;
}

.form-center {
    display: block;
}

.form-left {
    text-align: center;
    width: 50%;
    height: 15rem;/* 240px */
    float: left;
}

.form-right {
    width: 50%;
    height: 15rem;/* 240px */
    float: right;
}

.Contact form label {
    display: block;
    margin-bottom: 1.3rem;
    font-size: 1.25rem;/* 20px */
    color: steelblue;
    padding: 0;
}

.Contact form input[type="text"] { /* , input[type="time"], input[type="date"], input[type="email"], input[type="number"] */
    width: 18rem;
    height: 2rem;
    /* border: 1px solid rgb(142, 142, 142); */
}

.Contact form input[type="time"] {
    width: 4rem;
    height: 2rem;
    /* border: 1px solid rgb(142, 142, 142); */
}

.Contact form input[type="date"] {
    width: 7rem;
    height: 2rem;
}

.Contact form input[type="email"] {
    width: 15rem;
    height: 2rem;
}

.Contact form input[type="number"] {
    width: 4rem;
    height: 2rem;
}

.Contact form textarea {
    margin: 0.5rem;
    margin-top: 0;
    width: 60%;
    height: 5rem;/* 80px */
}

.Contact form input[type="submit"] {
    font-size: 1rem;/* 16px */
    /* margin: 1.5rem; */
    height: 3rem;
    width: 12rem;
    display: block;
    margin: auto;
    background-color: rgba(76, 76, 164, 0.3);
    cursor: pointer;
}

.Contact form input[type="submit"]:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out all;
}

button[type="button"] {
    font-size: 12px;
    margin: 1rem;
    height: 1rem;
    width: 15rem;
}

/*------------- VALIDACION DE FORMULARIO -------------*/

.Contact .formulario .formulario__grupo-correcto  {
	border-bottom: 3px solid #1ed12d;
    color: #1ed12d;
}

.Contact .formulario .formulario__grupo-incorrecto  {
	border-bottom: 3px solid #bb2929;
    color: #bb2929;
}

.Contact .formulario .formulario__validacion-estado {
	opacity: 0;
}

.Contact .formulario .formulario__grupo-correcto {
	color: #1ed12d;
	opacity: 1;
}

.Contact .formulario .formulario__grupo-incorrecto {
	color: #bb2929;
	opacity: 1;
}

/*-------------FOOTER-------------*/

footer {
    color: white;
    background-color: darkblue;
    text-align: left;
    height: 5rem;
    padding: 1rem;
    font-size: 0.5rem;
}

footer p {
    display: inline-block;
}

footer a {
    color: aquamarine;
}

/*------------- MEDIQUERIES PARA WEB RESPONSIVE -------------*/

/* PANTALLAS GRANDES */
@media screen and (max-width: 1000px) {
    body {
        font-size: 14px;
    }
}

/* TABLETS */
@media screen and (max-width: 900px) {
    
    .References {
        height: 34rem;
    }

    .References .Post {        
        width: 90%;
        height: 12.5rem;/* 200px */
        margin: 1.25rem auto;
    }

    .References .References-Cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:             
            'Card1 Card2'
            'Card3 Card3';
    }

    .Niveles .niveles-tabla td img {
        /* width: 80%; */
        /* height: 5.9375rem;/* 95px */
        width: 60%;
        height: 5rem;/* 80px */
    }

    .Contact {
        height: 57rem;
        
    }

    .form-left {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    
    .form-right {
        width: 90%;
        margin: 40px auto;
        float: none;
    }

    footer {
        height: 6.5rem;
    }

    footer p {
        display: block;
    }
    
}

/* CELULARES */
@media screen and (max-width: 700px) {
    body {
        font-size: 12px;
    }

    .Niveles .niveles-tabla td img {        
        width: 60%;
        height: 3.7rem;
    }

    .References {
        height: 48rem;
        margin: 0 auto;
    }

    .References .Post {        
        width: 95%;
        height: 12.5rem;/* 200px */
        margin: 1rem auto;
    }

    .References .References-Cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:             
            'Card1 Card1 Card1'
            'Card2 Card2 Card2'
            'Card3 Card3 Card3';
        margin: 0 auto;
    }

    footer {
        height: 10rem;
    }

    footer p {
        display: block;
        margin: auto;
    }

}

/* CELULARES PEQUEÑOS */
@media screen and (max-width: 500px) {
    body {
        font-size: 10px;
    }

    .header-container h1 {
        height: 1.6rem; /*50px*/
    }

    .header-container h1 a {
        font-size: 1.375rem;
        padding-top: 2px;
        float: inline-start;
    }

    .header-container img {
        height: 2.81rem; /* 45px */
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 2px;
    }

    .presentation-text h2 {
        font-size: 1.5rem;
    }

    .skills h2 {
        font-size: 1.5rem;
    }

    .skills h3 {
        font-size: 1.5rem;
    }

    .skills p {
        font-size: 0.8rem;
    }
    
    .presentation-text svg, img {
        height: 2rem;
    }

    .workExperience h2 {
        font-size: 1.5rem;
    }

    .Niveles h2 {
        font-size: 1.5rem;
    }

    .Niveles .niveles-tabla td img {        
        width: 45%;
        height: 2rem;
    }

    .Niveles .niveles-tabla th {
        font-size: 0.75rem; /* 12px */
        padding: 2px 0;
    }

    .References h2 {
        font-size: 1.5rem;
    }

    .Post h3 {
        font-size: 1.5rem;
    }

    .Post p {
        font-size: 1rem;
    }

    .Contact h2 {
        font-size: 1.5rem;
    }

    .Contact .label {
        font-size: 1rem;
    }

    .Contact .label-comentario {
        font-size: 1rem;
    }

    .Contact #Comentario {
        font-size: 1rem;
    }

    footer {
        font-size: 10px;
    }
}

/* @media screen and (max-width: 1000px) {
    header .menu {
        flex-direction: column;
        background: none;
    }

    header .header-container svg{
        display: inline-block;
    }

    Con esto los enlaces aparecen en fila 
    /* header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    } 

    /* Con esto los enlaces aparecen uno debajo del otro
    header .menu .enlaces li {
        display: block;
        float: none;
        background-color: rgba(9, 185, 180, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }    

} */