* {
    /*Definir que el tamaño del bloque incluya padding, margenes y bordes*/
    box-sizing: border-box;
    /*Darle una tipografia a la pagina*/
    font-family: 'Poppins', sans-serif;
    /*Sin margenes*/
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-------------HEADER-------------*/
header {
    /*hacer que la barra de navegacion se mantenga fija en toda la pag*/
    position: fixed;
    /*Definir el color con su transparencia y ancho de 100% para que ocupe toda la pag*/
    background-color: rgba(16, 208, 201, 0.6);
    width: 100%;
    z-index: 1;
}

/* MATERILIZE */
header h1 {
    font-size: 37px;
}

/* MATERILIZE */
.header-container nav {
    background: none;
    box-shadow: none;    
    height: 55px;
}

.header-container {
    margin: auto;
    max-width: 1700px;
    padding: 1rem 0.3rem 0rem;
}

header a {
    /*Color letra
    Quitarle el subrayado del link
    Padding derecho e izquierdo*/
    color: beige;
    text-decoration: none;
    padding: 0rem 1.8rem;
}

nav {
    float: right;
    margin: 0 9px;
}

.header-container li {
    /*Elementos listas del header tipo inline para que uno quede al lado del otro
    Quitarle los puntos de la lista*/
    display: inline;
    list-style: none;
    margin: auto 10px;
    height: 55px;
}

h1 {
    display: inline;
}

/*-------------PRESENTATION-------------*/
.presentation {
    height: 720px;
    font-size: 18px;
}

.Video-Programming {
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Video-Programming video {
    /*Que el objeto ocupe el maximo posible del bloque que lo contiene sin modificar proporciones de ancho y alto
    va a recortar lo que no quepa*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.presentation-text {
    color: white;
    text-align: center;
    padding: 240px 150px;
    margin: auto;
}

.presentation-text h2 {
    font-size: 35px;
}

.presentation-text p {
    margin: 10px auto;
    width: 70%;
}

.presentation-text a {
    color: lightgreen;
}

.presentation-text svg {
    width: 40px;
    color: aqua;
}

/*-------------HABILIDADES O SKILLS-------------*/

.skills {
    height: 650px;
    font-size: 18px;
}

.skills-text {
    width: 50%;
    height: 50%;
}

.skills-content {
    text-align: justify;
    padding: 130px 30px;
}

.skills-title {
    text-align: center;
    margin: 2rem;
    font-size: 35px;
}

.skills-centrar {
    margin: auto;
}

.carousel-item h3 {
    font-size: 34px;
    text-align: center;
    text-shadow: 1px 1px 1px white, 1px 1px 5px white;

}

.linea-division {
    width: 60%;
    height: 2px;
    background-color: #4f4f4f;
    margin: 0;
}

.carousel-item p {
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 2px white, 1px 1px 10px white;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

/* >>>>> ESTILOS MATERIALIZE <<<<< */

.carousel {
    min-height: 500px;
}

.skills .carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: gray; */
    width: 650px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.skills .carousel .indicators .indicator-item {
    /* border-radius: 0; */
    transform: rotate(45deg);
    margin: 10px 10px;
    background: darkorchid;
}

#skills-img1 {
    background: url(./Recursos/Imagenes/Brazo\ robot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills-img2 {
    background: url(./Recursos/Imagenes/Robot\ niño.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------WORK EXPERIENCE-------------*/

.workExperience {
    clear: both;
    font-size: 20px;
    text-align: center;
    background: url(./Recursos/Imagenes/Paisaje+Yoga.jpg);
    background-position: center;
    background-size: cover;
}

.workEx-inner {
    padding: 3rem;
    color: white;
}

.workEx-title {
    margin: 0 3rem 2rem;
    font-size: 38px;
}

.workExperience table ul li {
    padding: 4px 0;
    list-style-type: circle;
    position: relative;
    left: 18px;
}

.workExperience table td {
    padding: 25px 10px;
    /* font-size: 18px; */
}

.Logo_td {
    width: 10%;
    text-align: right;
}

.Nombre_td {
    width: 40%;
    text-align: left;
    font-size: 18px;
}

.Descripcion_td {
    width: 50%;
    text-align: left;
    font-size: 16px;
}

#Logos {
    height: 80px;
    border-radius: 10px;
}

/*------------- CONTACT + FORMULARIO -------------*/

.Contact {
    height: 550px;
    text-align: center;
}

.form-center {
    display: block;
}

.form-left {
    text-align: center;
    width: 50%;
    height: 300px;
    float: left;
}

.form-right {
    width: 50%;
    height: 300px;
    float: right;
}

.Contact label {
    display: block;
    padding: 1.2rem;
}

input[type="text"], input[type="time"], input[type="date"], input[type="email"], input[type="number"] {
    width: 12rem;
    height: 2rem;
    /* position: absolute; */
}

textarea {
    margin: 1rem;
}

input[type="submit"] {
    font-size: 18px;
    margin: 1rem;
    height: 3rem;
    width: 8rem;
    display: block;
    margin: auto;
}

button[type="button"] {
    font-size: 12px;
    margin: 1rem;
    height: 1rem;
    width: 15rem;
}

/*-------------FOOTER-------------*/

footer {
    color: white;
    background-color: darkblue;
    text-align: center;
    height: 3rem;
    padding: 1rem;
}